.contact-panel {
	display: inline-block;
	border:10px solid $violet;
	box-sizing: border-box;
	background:$white;
	margin: 2rem auto;
	width: 95%;
	position:relative;

	
	&.hidden{
		-webkit-transform: translateY(-300px);
  		transform: translateY(-300px);
  		opacity: 0;
  		padding:0.5;	
		border:0px solid $violet;
		transition: all 0.3s ease-in-out, opacity 0.2s ease-in-out;
	}

	form {
		padding: 3rem;
		input, textarea {
			display: inline-block;
			outline: none;
			background:$violet;
			color: $white;
			@include circle(50px);
			border:0;
			padding:0.5rem 1rem;
			margin: 1rem auto;
			font-family: 'Questrial', sans-serif;
			width: 50%;



			@include media(tabletPortrait){
				width: 50%;
			}		
			@include media(desktop){
				padding:0.7rem 3rem;
			}		
			
			&[type='submit'] {
				background:$red;
			}

			&::placeholder {
				color : $white;
			}
		}
	}
	
	&-link {
		display: inline-block;
		padding: 1rem;
		position: absolute;
		bottom: -1rem;
		right: 1rem;
		@include circle(50px);
		background:$red;
		color: $white;

		&:hover {
			cursor:pointer;
			padding: 1rem 3rem;
			background:$red;
			transition:all 0.3s linear;
		
			.lni-arrow-right-circle::before {
				color:$white;
			display: inline-block;	
				-webkit-transform: rotate(-90deg) scale(1.3);
			-moz-transform: rotate(-90deg) scale(1.3);
			-o-transform: rotate(-90deg) scale(1.3);
			-ms-transform: rotate(-90deg) scale(1.3);
			transform: rotate(-90deg) scale(1.3);
			transition:all 0.3s linear;
			}
		}
	
		button {
			width: 16px;
			height: 16px;
			background:$red;
			color: $white;
			border:0;
			padding:0;
		}
	}
}

#responseDiv {
	display: inline-block;
	border:10px solid $success;
	box-sizing: border-box;
	margin: 2rem auto;
	width: 95%;
	height:0;
	position:relative;
	opacity: 0;
	color:$success;

	&.active{
		padding:5.5rem;
		height:15rem;
		display: inline-block;
		-webkit-transform: translateY(-300px);
  		opacity: 1;
		transition: tranform 0.3s ease-in-out, opacity 0.3s ease-in-out, opacity 0.2s ease-in-out;
	}
}