.course-panel {
	display: inline-block;
	background:$white;
	margin: 2rem auto;
	width: 95%;

	.course-card {
		height: 14rem;
		
		color: $white;
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
			url('https://images.pexels.com/photos/2065820/pexels-photo-2065820.jpeg');
		background-size: cover;
		position:relative;
		text-align: center;

		@include media(tabletPortrait){
			display: inline-block;
			width: 25%;
		}		
		@include media(desktop){
			padding: 4rem 0;
		}		

		h2 {
			padding-top: 6rem;
		}
		&-link {
			position: absolute;
			top: 1rem;
			left: 1rem;
			display: inline-block;
			padding: 1rem;
			@include circle(50px);
			background:$white;
			color: $violet;
		
			&:hover {
				cursor:pointer;
				padding: 1rem 3rem;
 				background:$red;
 				transition:all 0.3s linear;
 			
 				.lni-arrow-right-circle::before {
 					color:$white;
					display: inline-block;	
  					-webkit-transform: rotate(90deg) scale(1.3);
					-moz-transform: rotate(90deg) scale(1.3);
					-o-transform: rotate(90deg) scale(1.3);
					-ms-transform: rotate(90deg) scale(1.3);
					transform: rotate(90deg) scale(1.3);
					transition:all 0.3s linear;
 				}
			}
		}
	}
}