.heroContent {
	&-heroImages {
		position:relative;
		height:16rem;
		@include media(tabletPortrait){
			height:auto;
		}

		&-imagesContainer {
			display:block;
			overflow: hidden;
			height: 100%;
			
			@include media(tabletPortrait){
				display: inline-block;
				width: 90%;
				height: 50vh;
				float: left;
				position: relative;
			}
			@include media(tabletLandscape){
				height: 86vh;
			}

			&-background {
				position:absolute;
				top:0;
				margin-left:100%;
				width: 100%;	
				height: 100%;
				background-position: center;
				background-size: cover;	
				transition: all 1s cubic-bezier(0.65, 0.05, 0.46, 0.86);
				opacity:0;
				display:none;
				
				@include media(tabletPortrait){
					display:inline-block;	
					background-size: 200%;	
					background-position: center;
					height: 70vh;
				}

				&.visible {
					margin-left:0%;
					opacity:1;
					display:inline-block;	
					@include media(tabletPortrait){
						background-size: 100%;
					}
				}	
				&.passed {
					margin-left:-100%;
					opacity:0;
					@include media(tabletPortrait){
						background-size: 100%;
					}
				}	

				@include media(tabletPortrait){
					height: 90%;
				}

				
			}

			&-index{
				position:absolute;
				top:1rem;
				right:1rem;
				margin:1rem auto -3rem;
				z-index:10;
				text-align:center;
				cursor:pointer;
				&-legenda {
					display:inline-block;
					color:$orange;
				}

				img {
					margin:0 0.3rem;
					border-radius:50%;
					width:2rem;
					height:2rem;
					border:2px solid $violet;
				}
			}	
		}	
	}

	






	
	&-social {
		text-align: center;
		
		@include media(tabletPortrait){
			display: inline-block;
			width: 10%;
			float: left;
			margin-top: 28%;
		}
		@include media(tabletLandscape){
			margin-top: 15%;
		}

		
		
		ul {
			color: $orange;

			li {
				padding: 0.5rem;
				transition:all 0.3s linear;
				opacity:1;
				display:inline-block;

				@include media(tabletPortrait){
					display:block;					
				}

				&.hidden {
					opacity:0;
				}


			}
		}	
	}	
}