.heroContent {
	&-heroImages {
		position:relative;

		&-imagesContainer {
			display:block;
			
			@include media(tabletPortrait){
				display: inline-block;
				width: 90%;
				height: 86vh;
				float: left;
				position: relative;
			}

			&-background {
				width: 100%;	
				height: 70vh;
				background-position: center;
				background-size: cover;
				@include media(tabletPortrait){
					height: 90%;
				}
			}

			&-index{
				position:absolute;
				top:1rem;
				right:1rem;
				margin:1rem auto -3rem;
				z-index:10;
				text-align:center;
				cursor:pointer;
				img {
					margin:0 1rem;
					border-radius:50%;
					width:2rem;
					height:2rem;
					border:2px solid $violet;
				}
			}	
		}	
	}

	






	
	&-social {
		text-align: center;
		

		@include media(tabletPortrait){
			display: inline-block;
			width: 10%;
			float: left;
			margin-top: 28%;
		}

		ul {
			color: $orange;

			@include media(tabletPortrait){
					
			}

			li {
				padding: 0.5rem;

				@include media(tabletPortrait){
	
				}
			}
		}	
	}	
}