.heroContent {
	&-heroImages {
		position:relative;

		&-imagesContainer {
			display:block;
			overflow: hidden;
			@include media(tabletPortrait){
				display: inline-block;
				width: 90%;
				height: 86vh;
				float: left;
				position: relative;
			}

			&-background {
				position:absolute;
				top:0;
				margin-left:100%;
				width: 100%;	
				height: 70vh;
				background-position: center;
				background-size: 170%;
				transition: all 1s cubic-bezier(0.65, 0.05, 0.46, 0.86);
				opacity:0;
				
				&.visible {
					margin-left:0%;
					opacity:1;
					background-size: 100%;
				}	
				&.passed {
					margin-left:-100%;
					opacity:0;
					background-size: 100%;
				}	

				@include media(tabletPortrait){
					height: 90%;
				}

				
			}

			&-index{
				position:absolute;
				top:1rem;
				right:1rem;
				margin:1rem auto -3rem;
				z-index:10;
				text-align:center;
				cursor:pointer;
				&-legenda {
					display:inline-block;
					color:$orange;
				}

				img {
					margin:0 0.3rem;
					border-radius:50%;
					width:2rem;
					height:2rem;
					border:2px solid $violet;
				}
			}	
		}	
	}

	






	
	&-social {
		text-align: center;
		

		@include media(tabletPortrait){
			display: inline-block;
			width: 10%;
			float: left;
			margin-top: 28%;
		}

		ul {
			color: $orange;

			@include media(tabletPortrait){
					
			}

			li {
				padding: 0.5rem;

				@include media(tabletPortrait){
	
				}
			}
		}	
	}	
}