.heroContent {
	&-images {
		img {
			max-width: 100%;	
		}
		
	}	
	&-social {
		text-align: center;
		ul {
			color: $orange;
			li {
				display: inline-block;
				padding: 0.5rem;
			}
			
		}	
	}	
}