.nav {
	margin: 0 auto;
	text-align: center;
	
	@include media(tabletPortrait){
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	
	&-pages {
		@include media(tabletPortrait){
			display: inline-block;
			box-sizing: border-box;
			width: 55%;
			float: left;
		}		
		
		&-logo{
			@include media(tabletPortrait){
				display: inline-block;
				float: left;
				box-sizing: border-box;
				width: 20%;
			}		

			img {
				display: block;
				margin: 0 auto;
				padding: 1rem;
				width: 100px;
				height: 100px;	

				@include media(tabletPortrait){
					width: 50%;
					height: auto;
				}		
			}
		}
		&-list{
			margin: 0 auto;

			@include media(tabletPortrait){
				display: inline-block;
				float: left;
				box-sizing: border-box;
				width: 80%;
				padding: 1rem 0;
			}		
			@include media(tabletLandscape){
				padding: 1.7rem 0;
			}

			li {
				display: inline-block;
				padding: 0.5rem;
			}
		}
	}
	
	&-auth {
		text-align: center;

		@include media(tabletPortrait){
			display: inline-block;
			box-sizing: border-box;
			width: 25%;
			padding: 1rem 0;
			float: left;
		}		
		@include media(tabletLandscape){
			padding: 1.7rem 0;
		}
		
		ul {
			li {
				display: inline-block;
				padding: 0.5rem;

				@include media(tabletPortrait){
					padding: 0.2rem;
				}
			}
		}	
	}

	.form-seach	{
		padding: 0.5rem;
		vertical-align: top;
		display: inline-block;
		
		@include media(tabletPortrait){
			display: inline-block;
			box-sizing: border-box;
			width: 20%;
			padding: 1rem 1.6rem 0 0;
			float: left;
			text-align: right;
		}		
		@include media(tabletLandscape){
			padding: 1.7rem 1.6rem 0 0;
		}

		&-icon {
			display: inline-block;
		    padding:0.5rem;
		    background: $white;
			color: $violet; 
			@include circle(50px);

			@include media(tabletPortrait){
				padding: 0.2rem;
			}		

		}

		&-text {
		    display: inline-block;
		    border: 0;
		    height: 2.5rem;
		    vertical-align: top;
		    background: $white;
		    @include circle(50px);
		    margin-left: -2.5rem;
		    display: none;
		}
	}
}