.news-panel {
	display: inline-block;
	background:$red;
	margin: 2rem auto;
	width: 95%;
	@include media(tabletLandscape){
		margin: 5rem auto;
	}

	.news-featured {
		position:relative;
		z-index:1;
		text-align: left;
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
			url('https://cdn.shopify.com/s/files/1/0066/5134/7014/files/1_634115a3-0e3a-42e2-82f6-3d1f05c4da32_1280x.jpg?v=1568475485');
		background-position:center;
		background-size: 100% 100%;
		padding-bottom: 1rem;
		transition:all 0.3s ease-in-out;
		
		&.focused {
			position:relative;
			z-index:2;

			-webkit-box-shadow: 0px 0px 15px 5px rgba($black ,0.5);
			-moz-box-shadow: 0px 0px 15px 5px rgba($black ,0.5);
			box-shadow: 0px 0px 15px 5px rgba($black ,0.5);	
			transform: scale(1.01);
			background-size: 120% 120%;
			transition:all 0.3s ease-in-out;
			
			.news-featured-footer-link {
				cursor:pointer;
				padding: 1rem 5rem;
 				background:$red;
 				transition:all 0.3s linear;
 			
 				.lni-arrow-right-circle::before {
 					color:$white;
					display: inline-block;	
  					-webkit-transform: rotate(90deg) scale(1.3);
					-moz-transform: rotate(90deg) scale(1.3);
					-o-transform: rotate(90deg) scale(1.3);
					-ms-transform: rotate(90deg) scale(1.3);
					transform: rotate(90deg) scale(1.3);
					transition:all 0.3s linear;
 				}
			}			
		}

		.news-featured-header {
			padding: 1rem;
			color: $white;
			@include media(tabletLandscape){
				padding: 3rem 1rem 5rem;
			}		

			.news-featured-social {
				margin-top: 0.5rem;
				
				li {
					cursor:pointer;
					margin-right: 1rem;
					display: inline-block;	
					&:hover {
						color:$red;
 						transition:all 0.3s ease-in-out;
					}
				}
			}
		}
		
		.news-featured-footer {
			margin: 1rem 1rem 0 1rem;
			
			@include media(desktop){
				padding: 2rem;
			}		
	 		&-date {
 				float:left;
 				margin-top: 0.7rem; 
				padding: 0.2rem 1rem;
	 			background:$white;
				
				@include circle(50px);

				

	 			p, small {
	 				display: inline-block;
	 				margin-right: 0.5rem;
	 			}
			}

	 		&-link {
	 			cursor:pointer;
	 			display: inline-block;
	 			float:right; 
				padding: 1rem;
	 			@include circle(50px);
 				background:$white;
 			}
		}
	}

	.news-card {
		position:relative;
		z-index:1;
		text-align: left;
		

		@include media(tabletPortrait){
			float: left;
			display: inline-block;
			width: 25%;
		}		


		&.focused {
			position:relative;
			z-index:2;

			-webkit-box-shadow: 0px 0px 15px 5px rgba($black ,0.5);
			-moz-box-shadow: 0px 0px 15px 5px rgba($black ,0.5);
			box-shadow: 0px 0px 15px 5px rgba($black ,0.5);	
			transform: scale(1.03);
			transition:all 0.3s ease-in-out;
			
			.news-card-footer {
				background-size: 130%;
				transition:all 0.3s ease-in-out;
			}


			
			.news-card-footer-link {
				cursor:pointer;
				padding: 1rem 3rem;
 				background:$red;
 				transition:all 0.3s linear;
 			
 				.lni-arrow-right-circle::before {
 					color:$white;
					display: inline-block;	
  					-webkit-transform: rotate(90deg) scale(1.3);
					-moz-transform: rotate(90deg) scale(1.3);
					-o-transform: rotate(90deg) scale(1.3);
					-ms-transform: rotate(90deg) scale(1.3);
					transform: rotate(90deg) scale(1.3);
					transition:all 0.3s linear;
 				}
			}			
		}
		
		&-header {
			height: 4rem;
			padding: 1rem;
			color: $violet;
			background:$white;

			&-date {
				display: inline-block;
 				margin-top: 0.7rem; 
			 	padding: 0.2rem 1rem;
	 			color: $violet;	
	 			background:$white;
				@include circle(50px);

				@include media(tabletPortrait){
					padding: 0;
				}		

	 			p, small {
	 				display: inline-block;
	 				margin-right: 0.5rem;
	 			}
			}
		}

		&-footer {
			height: 10rem;
			background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
				url('https://i.pinimg.com/736x/28/52/8e/28528e5765bec091da881b90a5d1a3ce--art-deco-hotel-miami-art-deco.jpg');
			background-size: 100%;
			background-position:center;
			position: relative;

			&-link {
				position:absolute;
				bottom:1rem;
				right:1rem;
	 			padding: 1rem;
				@include circle(50px);
 				background:$white;
 			}
		}
	}

	.news-more {
		height: 14rem;
		color: $violet;
		background:$orange;
		position:relative;
		text-align: center;

		@include media(tabletPortrait){
			float: left;
			display: inline-block;
			width: 25%;
			height: 16rem;
		}		

		h2 {
			padding-top: 6rem;
		}
		&-link {
			position: absolute;
			bottom: 1rem;
			right: 1rem;
			display: inline-block;
			padding: 1rem;
			@include circle(50px);
			background:$white;
			color: $violet;

			&:hover {
				cursor:pointer;
				padding: 1rem 3rem;
 				background:$red;
 				transition:all 0.3s linear;
 			
 				.lni-arrow-right-circle::before {
 					color:$white;
					display: inline-block;	
  					-webkit-transform: rotate(90deg) scale(1.3);
					-moz-transform: rotate(90deg) scale(1.3);
					-o-transform: rotate(90deg) scale(1.3);
					-ms-transform: rotate(90deg) scale(1.3);
					transform: rotate(90deg) scale(1.3);
					transition:all 0.3s linear;
 				}
			}
		}
	}
}
