.news-panel {
	display: inline-block;
	background:$red;
	margin: 2rem auto;
	width: 95%;
	@include media(tabletLandscape){
		margin: 5rem auto;
	}

	.news-featured {
		text-align: left;
		background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
			url('https://images.pexels.com/photos/2065820/pexels-photo-2065820.jpeg');
		background-size: cover;
		padding-bottom: 1rem;

		.news-featured-header {
			padding: 1rem;
			color: $white;
			@include media(desktop){
				padding: 3rem;
			}		

			.news-featured-social {
				margin-top: 0.5rem;

				li {
					margin-right: 1rem;
					display: inline-block;	
				}
			}
		}
		
		.news-featured-footer {
			margin: 1rem 1rem 0 1rem;
			
			@include media(desktop){
				padding: 2rem;
			}		
	 		&-date {
 				float:left;
 				margin-top: 0.7rem; 
				padding: 0.2rem 1rem;
	 			background:$white;
				
				@include circle(50px);

				

	 			p, small {
	 				display: inline-block;
	 				margin-right: 0.5rem;
	 			}
			}

	 		&-link {
	 			float:right; 
				padding: 1rem;
	 			@include circle(50px);
 				background:$white;
 			}
		}
	}

	.news-card {
		text-align: left;

		@include media(tabletPortrait){
			float: left;
			display: inline-block;
			width: 25%;
		}		
		
		&-header {
			height: 4rem;
			padding: 1rem;
			color: $violet;
			background:$white;

			&-date {
				display: inline-block;
 				margin-top: 0.7rem; 
			 	padding: 0.2rem 1rem;
	 			color: $violet;	
	 			background:$white;
				@include circle(50px);

				@include media(tabletPortrait){
					padding: 0;
				}		

	 			p, small {
	 				display: inline-block;
	 				margin-right: 0.5rem;
	 			}
			}
		}

		&-footer {
			height: 10rem;
			background-image:
			linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
				url('https://images.pexels.com/photos/2065820/pexels-photo-2065820.jpeg');
			background-size: cover;
			position: relative;

			&-link {
				position:absolute;
				bottom:1rem;
				right:1rem;
	 			padding: 1rem;
				@include circle(50px);
 				background:$white;
 			}
		}
	}

	.news-more {
		height: 14rem;
		color: $violet;
		background:$orange;
		position:relative;
		text-align: center;

		@include media(tabletPortrait){
			float: left;
			display: inline-block;
			width: 25%;
			height: 16rem;
		}		

		h2 {
			padding-top: 6rem;
		}
		&-link {
			position: absolute;
			bottom: 1rem;
			right: 1rem;
			display: inline-block;
			padding: 1rem;
			@include circle(50px);
			background:$white;
			color: $violet;
		}
	}
}
