#sponsor {
	padding: 2rem 0;

	h2 {
		padding: 2rem;
	}

	img {
		display: block;
		width: 66%;
		margin: 1rem auto;

		@include media(tabletPortrait){
			// float: left;
			display: inline-block;
			width: 20%;
			margin: 1rem;
		}		
	}
}


	// display: inline-block;
	// background:$violet;
	// margin: 2rem auto;
	// width: 95%;

	// .course-card {
	// 	height: 14rem;
	// 	color: $white;
	// 	background-image:
	// 		linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
	// 		url('https://images.pexels.com/photos/2065820/pexels-photo-2065820.jpeg');
	// 	background-size: cover;
	// 	position:relative;
	// 	text-align: center;
	
	// 	&-link {
	// 		position: absolute;
	// 		top: 1rem;
	// 		left: 1rem;
	// 		display: inline-block;
	// 		padding: 1rem;
	// 		@include circle(50px);
	// 		background:$white;
	// 		color: $violet;
	// 	}
	// }
