#subscribe {
	text-align: center;
	padding: 2rem 0;
	position: relative;
	@include media(desktop){
		padding: 5rem 0;
	}		

	h1 {
		font-size: 4rem;
	}

	hr {
		width: 50%;
		background:$white;
	}
	
	p {
		font-size: 1rem;
	}
	
	form {
		input {
			outline: none;
			color : $violet;
			@include circle(50px);
			border:0;
			padding:0.5rem 1rem;
			margin-top: 1.5rem;


			@include media(tabletPortrait){
				width: 42%;
			}		
			@include media(desktop){
				padding:0.7rem 3rem;
				width: 45%;
			}		
			
			&::placeholder {
				color : $violet;
			}
		}	
	}
}