$red : #f67280;
$orange : #f8b595;
$pink : #c06c84;
$violet : #6c5b7c;

$black : #111;
$white : #eee;

body {
	font-family: 'Questrial', sans-serif;
}

.btn {
	padding: 0.3rem 1rem;
	border:0;
	@include circle(50px);
}

.btn-primary {
	background: $orange;
	color: $violet;
}


