$red : #f67280;
$orange : #f8b595;
$pink : #c06c84;
$violet : #6c5b7c;
$black : #111;
$white : #fff;


body {
	font-family: 'Questrial', sans-serif;
}

.btn {
	padding: 0.3rem 1rem;
	border:0;
	@include circle(50px);
	outline: none;
	cursor:pointer;
}

.btn-primary {
	background: $orange;
	color: $violet;
	transition:all 0.3s ease-in-out;
	&:hover {
		background: $red;
		color: $white;
	}
}

.b-red {
	border-color:$red !important;
}


h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 17px;
}
p {
	font-size: 16px;
}
li {
	font-size: 16px;
}

.clearfix {
	clear: both;	
}
.hidden {
	display: none !important;
}

$breakpoints: (
  phonePortrait: 0px,
  phoneLandscape: 480px,
  tabletPortrait: 768px,
  tabletLandscape: 1024px,
  desktop: 1366px,
  bigscreen: 1920px,
);