$red : #f67280;
$orange : #f8b595;
$pink : #c06c84;
$violet : #6c5b7c;

$black : #111;
$white : #fff;

body {
	font-family: 'Questrial', sans-serif;
}

.btn {
	padding: 0.3rem 1rem;
	border:0;
	@include circle(50px);
}

.btn-primary {
	background: $orange;
	color: $violet;
}

h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 13px;
}
p {
	font-size: 12px;
}

.clearfix {
	clear: both;	
}
